:root {
  --color-primary: #007bff;
  --color-primary-hover: #0056b3; /* Slightly darker shade for hover effect */
  --color-secondary: #6c757d;
  --color-background: #f9f9f9;
  --color-text-dark: #333333;
  --color-text-light: #ffffff;
  --color-border: #cccccc;
  --color-error: #ff4d4f;
  /* --color-background: #242424; */
}
