.navbar {
  background-color: var(--color-text-dark);
  color: var(--color-text-light);
}

.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-light);
  text-decoration: none;
}

.navLinks {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  align-items: center;
}

.navLinks a,
.logoutButton {
  color: var(--color-light);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  cursor: pointer;
}

.logoutButton:hover,
.navLinks a:hover {
  background-color: var(--color-secondary);
  border-radius: 5px;
}

/* Responsive breakpoints */
@media (max-width: 575px) {
  .logo {
    font-size: 1rem;
  }

  .navLinks {
    gap: 0.5rem;
  }
}
